<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plateno.booking.internal.dao.mapper.ProviderOrderMapper">
	<select id="queryProviderOrder" resultType="com.plateno.booking.internal.dao.pojo.ProviderOrderResponse">
		SELECT
		DISTINCT(product.`order_sub_no`) AS orderSubNo,
		mo.`pay_type` AS payType,
		mo.`pay_status` AS subPayStatus,
		mo.`resource` AS resource,
		mo.`create_time`,
		logistics.`consignee_name`,
		logistics.`consignee_mobile`,
		mo.`name`,
		mo.`mobile`,
		mo.`resource`
		FROM
		m_order_product product,
		m_order mo ,m_logistics logistics
		WHERE product.`order_no` = mo.`order_no` AND product.`order_no` =
		logistics.`order_no`
		ORDER BY create_time desc
		<if test="record.showLimit">
			LIMIT #{record.pageNo,jdbcType=INTEGER}
			,#{record.pageNumber,jdbcType=INTEGER}
		</if>
	</select>


</mapper>