<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plateno.booking.internal.base.mapper.OperatelogMapper" >
  <resultMap id="BaseResultMap" type="com.plateno.booking.internal.base.pojo.Operatelog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operate_type" property="operateType" jdbcType="INTEGER" />
    <result column="operate_userid" property="operateUserid" jdbcType="VARCHAR" />
    <result column="operate_username" property="operateUsername" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="plate_form" property="plateForm" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="order_sub_no" property="orderSubNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, operate_type, operate_userid, operate_username, remark, plate_form, order_code, 
    operate_time, order_sub_no
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.plateno.booking.internal.base.pojo.OperatelogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from operate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operate_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operate_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.plateno.booking.internal.base.pojo.OperatelogExample" >
    delete from operate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.plateno.booking.internal.base.pojo.Operatelog" >
    insert into operate_log (id, operate_type, operate_userid, 
      operate_username, remark, plate_form, 
      order_code, operate_time, order_sub_no
      )
    values (#{id,jdbcType=INTEGER}, #{operateType,jdbcType=INTEGER}, #{operateUserid,jdbcType=VARCHAR}, 
      #{operateUsername,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{plateForm,jdbcType=INTEGER}, 
      #{orderCode,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, #{orderSubNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.plateno.booking.internal.base.pojo.Operatelog" >
    insert into operate_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operateType != null" >
        operate_type,
      </if>
      <if test="operateUserid != null" >
        operate_userid,
      </if>
      <if test="operateUsername != null" >
        operate_username,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="plateForm != null" >
        plate_form,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="orderSubNo != null" >
        order_sub_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operateType != null" >
        #{operateType,jdbcType=INTEGER},
      </if>
      <if test="operateUserid != null" >
        #{operateUserid,jdbcType=VARCHAR},
      </if>
      <if test="operateUsername != null" >
        #{operateUsername,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="plateForm != null" >
        #{plateForm,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSubNo != null" >
        #{orderSubNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.plateno.booking.internal.base.pojo.OperatelogExample" resultType="java.lang.Integer" >
    select count(*) from operate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update operate_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.operateType != null" >
        operate_type = #{record.operateType,jdbcType=INTEGER},
      </if>
      <if test="record.operateUserid != null" >
        operate_userid = #{record.operateUserid,jdbcType=VARCHAR},
      </if>
      <if test="record.operateUsername != null" >
        operate_username = #{record.operateUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.plateForm != null" >
        plate_form = #{record.plateForm,jdbcType=INTEGER},
      </if>
      <if test="record.orderCode != null" >
        order_code = #{record.orderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.operateTime != null" >
        operate_time = #{record.operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderSubNo != null" >
        order_sub_no = #{record.orderSubNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update operate_log
    set id = #{record.id,jdbcType=INTEGER},
      operate_type = #{record.operateType,jdbcType=INTEGER},
      operate_userid = #{record.operateUserid,jdbcType=VARCHAR},
      operate_username = #{record.operateUsername,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      plate_form = #{record.plateForm,jdbcType=INTEGER},
      order_code = #{record.orderCode,jdbcType=VARCHAR},
      operate_time = #{record.operateTime,jdbcType=TIMESTAMP},
      order_sub_no = #{record.orderSubNo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.plateno.booking.internal.base.pojo.Operatelog" >
    update operate_log
    <set >
      <if test="operateType != null" >
        operate_type = #{operateType,jdbcType=INTEGER},
      </if>
      <if test="operateUserid != null" >
        operate_userid = #{operateUserid,jdbcType=VARCHAR},
      </if>
      <if test="operateUsername != null" >
        operate_username = #{operateUsername,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="plateForm != null" >
        plate_form = #{plateForm,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSubNo != null" >
        order_sub_no = #{orderSubNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.plateno.booking.internal.base.pojo.Operatelog" >
    update operate_log
    set operate_type = #{operateType,jdbcType=INTEGER},
      operate_userid = #{operateUserid,jdbcType=VARCHAR},
      operate_username = #{operateUsername,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      plate_form = #{plateForm,jdbcType=INTEGER},
      order_code = #{orderCode,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      order_sub_no = #{orderSubNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>